{% extends "layout.html.twig" %}

{% block main %}

<main>
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Livre 1
                </th>
                <th>
                    Livre 2
                </th>
                <th>
                    Livre 3
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    La communauté de l'anneau
                </td>
                <td>
                    Les deux tours
                </td>
                <td>
                    Le retour du roi
                </td>
            </tr>
        </tbody>
    </table>
</main>

{% endblock %}