<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Soutien MVC</title>
    </head>
    <body>
        <header>
            <a href="">Voir le catalogue</a>
        </header>
        {% block main %}
        {% endblock %}
    </body>
</html>