{% extends "layout.html.twig" %}

{% block main %}

<main>
    <h1>
        Les livres empruntés par l'usager
    </h1>
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Titre
                </th>
                <th>
                    Auteur
                </th>
                <th>
                    Catégorie
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Le manifeste du parti communiste
                </td>
                <td>
                    Karl Marx
                </td>
                <td>
                    Essais
                </td>
            </tr>
        </tbody>
    </table>
</main>

{% endblock %}